spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:hostpitami}
    username: ${DB_USER:hostpitami}
    password: ${DB_PASS:hostpitami}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  flyway:
    enabled: false
    locations: classpath:db/migration

  mail:
    host: localhost
    port: 1025
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false

security:
  debug: true
  jwt:
    secret: "27W29fBvPQ31oTcyMavr9gmXKshXpAhD"
    expiration-seconds: 86400

logging:
  level:
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info